<div class="content" >
    <table class="table" name="tableWrap">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Job</th>
                <th>Salary</th>
            </tr>
        </thead>

        <tbody name="table" [ngClass]="{filtered: model.filtered}" >
            
        	<tr *ngFor="#item of model.data" 
                [hidden]="item.hidden" 
                [class.selected]="isSelected(item)" 
                (click)="selectItem(item)" >
            <!-- <tr *ngFor="#item of model.data" > -->
                <!-- <template [ngIf]="!item.hidden" >     -->
                    <td class="col-md-1"  >
                        {{item.id}}
                    </td>
                    <td class="col-md-2"  [class.search-selected]= "isSearchPass(item, 0)" >
                        {{item.c1}}
                    </td>
                    <td class="col-md-2"  [class.search-selected]= "isSearchPass(item, 1)" >
                        {{item.c2}}
                    </td>
                    <td class="col-md-2"  [ngClass]="{ 'search-selected': isSearchPass(item, 2) }" >
                        {{item.c3}}
                    </td>
                    <td class="col-md-2"  [ngClass]="{ 'search-selected': isSearchPass(item, 3) }" >
                        {{item.c4}}
                    </td>
                    <td>
                        <button class="btn btn-default" (click)="removeItem(item)" >
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                
        	   <!-- </template>	 -->
        	</tr>
            
        </tbody>
    </table>
</div>